body{
    height: fit-content;
    width: auto;
    margin: 0;
    background-image: url("./etch_a_sketch_images/Luna_30_little_yellow_hand_drawn_stars_on_a_light_blue_backgro_0.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Tektur';
    
}


.header{
    display: flex;
    justify-content: center;
    font-family: 'Bungee Spice';
    font-size: 7mm;
    text-shadow: 0.5mm 0.5mm;
}

.container{
    display: flex;
    justify-content: center;
    height: auto;
}

.main {
    height: 185mm;
    width: 185mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    border-radius: 5mm;
    border-style: solid;
    box-shadow: 1.3mm 2.6mm;
    border-color: black;   
}
.sketch {
    height: 560px;
    width: 560px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5mm;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
}

.square {
    position: relative;
    display: flex;
}

.settings {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-around;
}

.button {
    height: 21mm;
    width: 21mm;
    border-radius: 50%;
    box-shadow: 0.5mm 1mm;
}

footer{
    margin-top: 5mm;
    text-align: center;
}