body{
    height: fit-content;
    width: auto;
    margin: 0;
    background-image: url("./etch_a_sketch_images/numerous_yellow_stars_on_a_light_blue_background_1_c67977fa-b078-4313-a67d-d474078cff3a_1.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Tektur';
    
}


.header{
    display: flex;
    justify-content: center;
    font-family: 'Bungee Spice';
    font-size: 25px;
}

.container{
    display: flex;
    justify-content: center;
    height: auto;
}

.main {
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    border-radius: 20px;
    border-style: solid;
    box-shadow: 5px 10px;
    border-color: black;   
}
.sketch {
    height: 80%;
    width: 80%;
    display: flex;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
}

.settings {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-around;
}

.button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 2px 4px;
}

footer{
    padding: 8px;
    text-align: center;
}