body{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    
}

footer{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    border-style: solid;
    border-color: black;   
}